name: Build

#
# This workflow just checks out the project, installs Node and dependencies, and runs the
# build script. As a security measure, it checks that source code was not altered during
# the process.
#

on:
   workflow_call:
   workflow_dispatch:

jobs:
   build:
      name: Build
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v6
         - uses: uicpharm/workflows/actions/setup-and-install@v1
         - run: npm run build --if-present
         - run: if [ -n "$(git status --porcelain)" ]; then echo 'There are uncommitted changes.'; exit 1; fi
