name: Build

on:
   workflow_call:
   workflow_dispatch:

jobs:
   build:
      name: Build
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v2
         - uses: uicpharm/workflows/actions/setup-and-install@v1
         - run: npm run build --if-present
