name: Check Version Match

#
# This workflow is intended to run only when you are tagging a version, and it checks
# that the tagged version and the package.json version are the same.
#
# If you use a "v" in your version (i.e. "v1.2.3"), this is fine as long as you are
# consistent between the tag and package.json.
#
# Partial versions are acceptable as well. Your package.json should always have a full
# semver version like "1.2.3" or "1.2.3-rc.1". But you may have a partial version for
# your tag. So, the tags "v1" or "v1.2" would match package.json version of "v1.2.3".
#

on:
   workflow_call:
   workflow_dispatch:
   push:
      # For GitHub Actions workflows, version tags are prefaced with a "v":
      tags: [ 'v*.*.*', 'v*.*.*-*.*', 'v1', 'v2', 'v3', 'v4', 'v5', 'v6', 'v7', 'v8', 'v9' ]

jobs:
   check-version:
      name: Check Version Match
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v4
         - uses: martinbeentjes/npm-get-version-action@v1.3.1
           id: package-version
         - uses: booxmedialtd/ws-action-parse-semver@v1.4.7
           id: semver
           with:
               input_string: ${{ steps.package-version.outputs.current-version }}
         - name: Check version variations
           # The tagged version should match one of the version levels, i.e. maj, maj.min, maj.min.patch, or full version.
           # In real like, this may be "1", "1.2", "1.2.3", or "1.2.3-beta.1". If there is a prefix in front of the version,
           # like a "v", we include that in the variants, because we want the tag to precisely match the package version.
           run: |
               tag="${{ github.ref_name }}"
               prefix="$(echo '${{ steps.package-version.outputs.current-version }}' | grep -o '^[^0-9]*')"
               maj=${prefix}${{ steps.semver.outputs.major }}
               min=${maj}.${{ steps.semver.outputs.minor }}
               pat=${min}.${{ steps.semver.outputs.patch }}
               fullversion=${{ steps.semver.outputs.fullversion }}
               echo "Tag: $tag"
               echo "Package: $fullversion ($maj, $min, $pat)"
               if [[ "$tag" != "$maj" && "$tag" != "$min" && "$tag" != "$pat" && "$tag" != "$fullversion" ]]; then
                  echo "Tagged version $tag should match package version of $maj, $min, $pat or $fullversion."
                  exit 1
               fi
           shell: bash
