name: Lint and Test

on:
   push:
   pull_request:
   workflow_call:
   workflow_dispatch:

jobs:
   lint-and-test:
      name: Lint and Test
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v3
           with: { fetch-depth: 0 } # We check out full depth in case commit linting occurs
         - uses: uicpharm/workflows/actions/setup-and-install@v1
         - run: npm run test --if-present
         - run: npm run standards --if-present
