name: Lint and Test

#
# This workflow checks out the project and installs Node and dependencies. Then it runs
# the "test" and "standards" scripts, if present. Finally, it verifies that source code
# was not altered in the process.
#

on:
   push:
   pull_request:
   workflow_call:
   workflow_dispatch:

jobs:
   lint-and-test:
      name: Lint and Test
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v6
           with: { fetch-depth: 0 } # We check out full depth in case commit linting occurs
         - uses: uicpharm/workflows/actions/setup-and-install@v1
         - run: npm run test --if-present
         - run: npm run standards --if-present
         - run: if [ -n "$(git status --porcelain)" ]; then echo 'There are uncommitted changes.'; exit 1; fi
